<!DOCTYPE html>
<html>
<head>
  <title>Pizza Shop</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <nav>
    <a href="/pizzas">All Pizzas</a>
    <a href="/pizzas/new">Create new order</a>
  </nav>
  <%= yield %>
</body>
</html>